{% extends "baseContent.html" %}

{% block contentHead %}
{% for server in section.serverclient_set.all %}
<div class="col-md-auto row-title radius">
   {{ section.name }}
   {{ section.contract }}
</div>
{% endfor %}
{% endblock %}

{% block contentCore %}
{% for server in section.serverclient_set.all %}
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="/service"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="/service">{{ server.name }}</a>
      </h4>
      <h5>{{ server.ip }}</h5>
      <p class="card-text">{{ server.description }}</p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
